@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Inter:wght@100..900&display=swap');

* {
  font-family: 'Figtree', sans-serif;
}

:root {
  /* colors */
  --mg-color01: #ffffff;
  --mg-color02: #232332;
  --mg-color03: #ffcaf6;
  --mg-color04: #fef2fc;
  --mg-color05: #4b1a72;

  /* BG */
  --mg-BGcolor01: var(--mg-color01);
  --mg-BGcolor02: var(--mg-color02);

  /* texto */
  --mg-Textcolor01: var(--mg-color02);
  --mg-Textcolor02: var(--mg-color01);
  --mg-Textcolor03: var(--mg-color04);
  --mg-Textcolor04: var(--mg-color05);

  --mg-fontsize-menu: 15px;
  --mg-fonsize-title: 50px;
  --mg-fontsize-title02: 20px;
  --gm-fonsize-button: 12px;

  /* HEADER*/
  /* gap */
  --mg-gap01: 30px;

  /* MAIN */
  /* padding */
  --mg-padding-xs: 10px;
  --mg-padding-s: 20px;

  /* margin */
  -mg-margin-s: 20px;
  -mg-margin-m: 30px;
}
