@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Inter:wght@100..900&display=swap');

:root {
  /* colors */
  --mg-color01: #ffffff;
  --mg-color02: #200f1b;
  --mg-colorStartA: rgb(254, 149, 50);
  --mg-colorStartB: rgb(251, 87, 120);
  --mg-colorSectionA: rgba(254, 149, 50, 0.7);
  --mg-colorSectionB: rgba(251, 87, 120, 0.7);
  --mg-color04: #fef2fc;

  --mg-color06: #ff547e;
  --mg-color07: #4b1a72;
  --mg-color08: rgb(201, 90, 112);
  --mg-color08alpha: rgba(201, 90, 112, 0.7);

  /* BG */
  --mg-BGcolor01: var(--mg-color01);
  --mg-BGcolor02: var(--mg-color02);
  --mg-BGcolorIntSection: rgba(255, 255, 255, 0.5);

  /* texto */
  --mg-Textcolor01: var(--mg-color02);
  --mg-Textcolor02: var(--mg-color01);
  --mg-Textcolor03: var(--mg-color04);
  --mg-Textcolor04: var(--mg-color05);

  --mg-fontsize-menu: 14px;
  --mg-fonsize-title: 50px;
  --mg-fontsize-title02: 20px;
  --mg-fontsize-button: 12px;

  /* gap */
  --mg-gap01: 30px;

  /* padding */
  --mg-padding-xs: 10px;
  --mg-padding-s: 20px;
  --mg-padding-m: 40px;
  --mg-padding-l: 70px;

  /* margin */
  --mg-margin-s: 20px;
  --mg-margin-m: 30px;
  --mg-margin-l: 50px;
  --mg-margin-xl: 70px;

  /* border radius */
  --mg-borderradius-button: 10px;
  --mg-borderradius-div: 20px;
  --mg-borderradius-menu: 50px;
}

* {
  font-family: 'Figtree', sans-serif;
  text-decoration: none;
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
}

a {
  color: var(--mg-color02);
}

button,
select,
a {
  background-color: var(--mg-color04);
  border-radius: var(--mg-borderradius-button);
  border: none;
  padding: var(--mg-padding-xs);
  cursor: pointer;
}

h1 {
  font-size: 50px;
  font-weight: 500;
}

h2 {
  font-size: 40px;
}

h3,
h4 {
  font-size: 20px;
  font-weight: 400;
}
