#skills img:not(button.backHome > img) {
  width: 60px;
  filter: drop-shadow(0px 5px 5px rgba(0, 0, 0, 0.2));
  transition: all 0.3s;
}

#skills img:not(button.backHome > img):hover {
  transform: scale(1.2);
}

#skills > div {
  margin-top: var(--mg-margin-m);
  width: 80%;
  border-radius: var(--mg-borderradius-div);
  background-color: var(--mg-BGcolorIntSection);
  color: white;
  padding: var(--mg-padding-m);
  padding-top: var(--mg-padding-s);
}

#skills > div:last-of-type {
  margin-bottom: var(--mg-margin-m);
}

#skills > div > h4 {
  font-weight: 200;
  text-align: center;
  margin-bottom: var(--mg-margin-m);
}

#skills > div > div {
  display: flex;
  justify-content: space-evenly;
  gap: 10px;
}

#skills > .Development {
  width: 80%;
}
