#header {
  width: 100%;
  display: flex;
  position: fixed;
  z-index: 1;
  padding: var(--mg-padding-s) var(--mg-padding-m);
  justify-content: space-between;
  align-items: center;
}

#header > div:first-of-type {
  display: flex;
  width: 50%;
  justify-content: left;
  gap: var(--mg-gap01);
  align-items: center;
}
