@media (max-width: 1150px) {
  #projects > div {
    width: 100%;
    height: 80%;
  }
}

@media (max-width: 500px) {
  #projects > h2 {
    font-size: 20px;
  }

  #projects > h3 {
    font-size: 14px;
  }
  #projects > div {
    width: 100%;
    height: 80%;
  }

  .contArticles {
    height: auto;
    padding-top: 16px;
    padding-bottom: 30px;
    gap: 30px;
  }
}
