.backHome {
  width: 30px;
  height: 30px;
  padding: 0;
  border-radius: 50%;
  background-color: var(--mg-BGcolorIntSection);
  display: block;
  transition: all 0.3s;
  position: absolute;
  bottom: 20px; /* IMPO add position: relative to father element */
}

.backHome:hover {
  transform: scale(1.1);
  background-color: var(--mg-color01);
}

.backHome > img {
  width: 20px;
  display: block;
  margin: auto;
}

@media (max-width: 1150px) {
  .backHome {
    display: none;
  }
}
