.backHome {
  width: 50px;
  height: 50px;
  padding: 0;
  border-radius: 50%;
  background-color: var(--mg-BGcolorIntSection);
  display: block;
  transition: all 0.3s;
}

.backHome:hover {
  transform: scale(1.1);
  background-color: var(--mg-color01);
}

.backHome > img {
  width: 30px;
}
