#aboutMe {
  position: relative;
}

#aboutMe > h2 {
  margin-top: 150px;
}

#aboutMe > img {
  width: 155px;
  height: 155px;
  position: absolute;
  transform: translateY(-50%);
  left: 100px;
  top: 180px;
}

#aboutMe > div {
  width: 80%;
  margin-top: var(--mg-margin-xl);
  margin-bottom: var(--mg-margin-m);
  background-color: var(--mg-BGcolorIntSection);
  padding: var(--mg-padding-m);
  border-radius: var(--mg-borderradius-div);
}

#aboutMe > div > p {
  color: white;
  font-size: 15px;
  font-weight: 200;
}
