#aboutMe {
  position: relative;
}

#aboutMe > h2 {
  margin-top: 130px;
}

#aboutMe > img {
  width: 200px;
  height: 200px;
  position: absolute;
  transform: translateY(-50%);
  left: 75px;
  top: 165px;
}

#aboutMe > div {
  width: 80%;
  margin-top: 90px;
  margin-bottom: var(--mg-margin-m);
  background-color: var(--mg-BGcolorIntSection);
  padding: var(--mg-padding-m);
  border-radius: var(--mg-borderradius-div);
}

#aboutMe > div > p {
  color: var(--mg-color02);
  font-size: 15px;
  font-weight: 200;
}
